.long{
  color: white;
  font-size: 3rem;
  font-style: italic;
}
.log{
  width: 100%;
  height: 88.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/images.jpeg');
  /* background-size: cover; */
}