.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7rem 1rem 7rem;
  border: 1px solid rgb(215, 209, 209);
}
Link{
  text-decoration: none;
}
.navbar h2{
  text-decoration: none;
  color: rgb(174, 76, 23);
  font-style: italic;
  font-size: 2rem;
}
.navbar button{
  border: none;
  color: rgb(174, 76, 23);
  background-color: black;
  width: max(10vw, 100px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;
  height: 3rem;
  font-size: 1rem;
  border: 1px solid rgb(215, 209, 209);
}