p{
  color: white;
}
.messenger{
  height: calc(100vh - 160px);
  /* padding: 0rem 2rem; */
  display: flex;
  color: white;
}
.chat-menu{
  flex: 3.5;
  border-right: 2px solid rgb(174, 76, 23);
  transition: transform 0.3s ease-in-out;
}
.menu-input{
  width: 90%;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid rgb(174, 76, 23);
  font-size: 1rem;
  color: white;
  background-color: black;
}
.chat-box{
  flex: 6.5;
}
.box-bottom{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-bottom textarea{
  width: 85%;
  height: 60px;
  font-size: 1rem;
  padding: 10px;
  place-content: center;
}
.box-bottom button {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: teal;
  cursor: pointer;
  color: white;
}
.menu-wrapper, .box-wrapper{
  padding: 1rem;
  height: 100%;
}
.box-wrapper, .menu-wrapper{
  display: flex;
  flex-direction: column;
}
.box-top, .menu-top{
   height: 100%;
   overflow-y: scroll;
}
.chat-header-top{
  display: flex;
  align-items: center;
  gap: 1rem;
  /* justify-content: space-between; */
}
.chat-header{
  display: flex;
  align-items: center;
  height: 5.5rem;
  background-color: rgb(104, 42, 9);
}
.conversation-text{
  position: absolute;
  top: 50%;
  padding-left: 1rem;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(174, 76, 23); 
  cursor: default;
}
.hamburger-btn,
.close-btn {
  display: none;
}



@media (max-width: 768px) {

  .messenger{
    flex-direction: row;
  }
  .chat-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    max-width: 20rem;
    height: 100%;
    background: black;
    transform: translateX(-100%);
    z-index: 1;
    box-shadow: 2px 0 8px rgba(104, 42, 9, 0.1);
  }
  .chat-menu.open {
    transform: translateX(0);
  }
  .sidebar{
    padding: 1rem;
    position: relative;
    height: 100%;
  }
  .close-btn {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 1.8rem;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
  }
  .chat-box{
    flex: 1;
  }
  .hamburger-btn {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 6.3rem;
    left: 12px;
    z-index: 1100;
    color: white;
  }
  .hamburger-btn.hide{
    display: none;
  }
}

