p{
  color: white;
}
.messenger{
  height: calc(100vh - 160px);
  /* padding: 0rem 2rem; */
  display: flex;
  color: white;
}
.chat-menu{
  flex: 3.5;
  border-right: 2px solid rgb(174, 76, 23);
}
.menu-input{
  width: 90%;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid rgb(174, 76, 23);
  font-size: 1rem;
  color: white;
  background-color: black;
}
.chat-box{
  flex: 6.5;
}
.box-bottom{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-bottom textarea{
  width: 85%;
  height: 60px;
  font-size: 1rem;
  padding: 10px;
  place-content: center;
}
.box-bottom button {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: teal;
  cursor: pointer;
  color: white;
}
.menu-wrapper, .box-wrapper{
  padding: 1rem;
  height: 100%;
}
.box-wrapper, .menu-wrapper{
  display: flex;
  flex-direction: column;
}
.box-top, .menu-top{
   height: 100%;
   overflow-y: scroll;
}
.chat-header-top{
  display: flex;
  align-items: center;
  gap: 1rem;
  /* justify-content: space-between; */
}
.chat-header{
  display: flex;
  align-items: center;
  height: 5.5rem;
  background-color: rgb(104, 42, 9);
}
.conversation-text{
  position: absolute;
  top: 50%;
  padding-left: 1rem;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(174, 76, 23); 
  cursor: default;
}

